@import "variables";
@import 'partials/_all';

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.1), rgba(126, 213, 111, 0.1)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  flex-direction: column;
  color: #ffffff;
  text-transform: uppercase;
}

.header h1 {
  animation-name: headerAnimation;
  animation-duration: 1s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    opacity: 0.5;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }

}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s;
}

.btn-white {
  background-color: #fff;
  color: #777;
}


.btn:hover {
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(-1px);
}

