{% extends 'base.html.twig' %}

{% block body %}

    <header class="header">
        <h1>Symfony 4 Boilerplate</h1>
        <h4>React</h4>
        <h4>webpack encore</h4>
        <h4>Start styling in seconds</h4>

        <a href="#" class="btn btn-white">Discover more</a>


    </header>


    <div class="container">
        <div id="app">
        </div>
    </div>
{% endblock %}
